<div class="navbar" style="display: flex; justify-content: flex-end; align-items: center;">
    {% if user.is_authenticated %}
        <div style="display: flex; align-items: center;"> 
            <h3 style="margin-right: 10px; line-height: 1.5; font-size: 16px; margin-bottom: 0;">안녕하세요, <a href="{% url 'User:profile' %}" style="color: black; font-weight: bold; text-decoration: none;">[{{ user.username }}]</a>님</h3>
            <form action="{% url 'User:logout' %}" method="POST" style="margin-left: 0px; margin-right: 15px;">
                {% csrf_token %}
                <button type="submit" style="background-color: #ddd; color: black; border: none; border-radius: 5px; padding: 6px 10px; cursor: pointer; line-height: 1.5; font-size: 14px;">로그아웃</button>
            </form>
        </div>
    {% else %}
        <button style="margin-right: 5px; line-height: 1.5; font-size: 12px;"><a href="{% url 'User:login' %}" style="text-decoration: none; color: black;">로그인</a></button>
        <button style="line-height: 1.5; font-size: 12px;"><a href="{% url 'User:signup' %}" style="text-decoration: none; color: black;">회원가입</a></button>
    {% endif %}
</div>